html {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

body {
    margin: 0px;
    height: 100%;

    background: radial-gradient(ellipse at center, #4B327A 0%, #332253 50%, #221738 100%);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;

    color: white;
}

#left-bar {
    width: 25%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
}

#form-container, #legend, .tooltip {
    border-radius: 5px;
    background-color: #37255c;
    padding: 10px 10px;
    margin: 8% 0 0 8%;
    box-shadow: 0px 2px 10px 0px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
}

#network-container {
    margin: 2% 2%;
    width: 71%;

    border: 5px solid white;
    background-color: #271a3e;
}

#visualize-button {
    width: calc(100% - 40px);
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    margin: 5px 20px 20px 20px;
    background: linear-gradient(135deg, #4a893ae0 0%, #64ba4fcd 50%, #4a893ac6 100%);
    border: 1px solid #35632a;
}

#key-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
}

.key-value-pair {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
}

.key {
    padding: 5px 5px;
    height: 30px;
}

.value {
    padding: 5px 15px;
    align-self: stretch;
}

#legend h2 {
    padding: 0 5px;
}

.tooltip {
    visibility: hidden;
}

#input-textarea {
    border: None;
    border-radius: 5px;

    background-color: #221738;
    color: white;
    margin: 5px 0px 5px 0px;
    padding: 4px;
    width: calc(100% - 8px);
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
}

.dropdown-key {
    align-self: center;
}

.dropdown-field {
    width: 100%;
    padding: 4px;
    margin: 5px;
    border-radius: 5px;
    background-color: #221738;
    color: white;
}