<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/index.css">
    <script>
      let weights = '{{weights | tojson}}'
      let biases = '{{biases | tojson | safe}}'
      let neuronValues = '{{neuronValues | tojson}}'
    </script>
  </head>
  <body>
    <div id="left-bar">
      <div id="form-container">
        <form id="model-info-form">
          <h2>Model Information</h2>
          <div class ="dropdown-container"><div class="dropdown-key">Model</div>
            <select required class="dropdown-field" id="model-dropdown-field" name="model">
              <option value = "not selected">--select--</option>
              <option value = "custom">Upload Custom Model</option>
              <option value = "./models/iris/trained">Iris (trained)</option>
              <option value = "./models/iris/untrained">Iris (untrained)</option>
              <option value = "./models/titanic/trained">Titanic (trained)</option>
              <option value = "./models/titanic/untrained">Titanic (untrained)</option>
              <option value = "./models/boston_housing/trained">Boston Housing (trained)</option>
              <option value = "./models/boston_housing/untrained">Boston Housing (untrained)</option>
            </select>
          </div>
          <div class="dropdown-container" id="input-dropdown-container" style="display:none;"><div class="dropdown-key">Input</div>
            <select required class= "dropdown-field" id="input-dropdown-field" name="inputDropdown"></select>
          </div>
          <textarea id="input-textarea" rows=5 style="display:none;"
          placeholder="[feature_1, feature_2, feature_3 ...  feature_N]" name="inputArea"></textarea>
          <button id="visualize-button" type="submit">Visualize</button>
        </form>
      </div>
      <div id="legend">
        <h2>Key</h2>
        <div id = "key-container">
          <div class = "key-value-pair">
            <div class = "key">
              <svg width = 20px height = 20px>
                <circle fill = "#7be671" cx = 10 cy = 10 r = 10></circle>
              </svg>
            </div>
            <div class = "value">
                Positive-valued Neuron
            </div>
          </div>
          <div class = "key-value-pair">
            <div class = "key">
              <svg width = 20px height = 20px>
                <circle fill = "#ff8d93" cx = 10 cy = 10 r = 10></circle>
              </svg>
            </div>
            <div class = "value">
              Negative-valued Neuron
            </div>
          </div>
          <div class = "key-value-pair">
            <div class = "key">
              <svg width = 20px height = 20px>
                <circle fill = "#9073d3" cx = "10" cy = "10" r = "10"></circle>
              </svg>
            </div>
            <div class = "value">
              Bias Neuron (Value 1)
            </div>
          </div>
          <div class = "key-value-pair">
            <div class = "key">
              <svg width = "20" height = "20">
                <line x1="0" y1="10" x2="20" y2="10" stroke="#7be671" stroke-width="3"></line>
              </svg>
            </div>
            <div class = "value">
              Positve-valued Weight
            </div>
          </div>
          <div class = "key-value-pair">
            <div class = "key">
              <svg width = "20" height = "20">
                <line x1="0" y1="10" x2="20" y2="10" stroke="#ff8d93" stroke-width="3"></line>
              </svg>
            </div>
            <div class = "value">
              Negative-valued Weight
            </div>
          </div>
        </div>
      </div>
      <div class = "tooltip"></div>
    </div>
    <div id="network-container">
      <svg id="network-svg">
        <g id = "network-group"></g>
      </svg>
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="module" src="../static/js/draw-network.js"></script>
    <script src="../static/js/zoom.js"></script>
    <script src="../static/js/form.js"></script>
    <script type="module" src="../static/js/visualize.js"></script>
  </body>
</html>